<app-footer></app-footer>
<div class="container">


  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Ajuda com a conta


        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
Ouça o Spotify na sua TV e controle a reprodução direto pelo controle remoto ou usando o seu celular, tablet
ou
computador.

Para verificar se a sua TV é compatível com o aplicativo do Spotify, acesse a loja de aplicativos a partir da
sua TV e
busque pelo Spotify. Se a sua TV não estiver listada, você pode usar uma barra de som ou um dispositivo de
streaming
compatível com o Spotify Connect.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Ouça onde quiser
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Ouça o Spotify na sua TV e controle a reprodução direto pelo controle remoto ou usando o seu celular, tablet
          ou
          computador.

          Para verificar se a sua TV é compatível com o aplicativo do Spotify, acesse a loja de aplicativos a partir da
          sua TV e
          busque pelo Spotify. Se a sua TV não estiver listada, você pode usar uma barra de som ou um dispositivo de
          streaming
          compatível com o Spotify Connect.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Usando o Spotify
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          O Spotify é um serviço de streaming digital que dá acesso instantâneo a milhões de músicas, podcasts, vídeos e
          outros
          conteúdos de artistas de todo o mundo.

          As funções básicas são gratuitas, como a reprodução de músicas, mas você também pode fazer upgrade para o
          Spotify
          Premium.
        </div>
      </div>

    </div>
  </div>
</div>

