<div class="footer">
  <img src="../../assets/images/spotify-branco-1-1.png" width="150px" />

  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h3 class="white-text">Visite a Comunidade</h3>
        <p class="grey-text text-lighten-4">
          Tem uma pergunta? Encontre respostas na nossa Comunidade de fãs
          especialistas do mundo todo!
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h4 class="white-text">LINKS ÚTEIS</h4>
        <ul>
          <li>
            <a class="texto" href="https://www.spotify.com/br/about-us/contact/">SOBRE</a>
          </li>

          <li>
            <a class="texto"
              href="https://developer.spotify.com/?_gl=1*1mh7h71*_gcl_aw*R0NMLjE2MDA1NTQzMzEuQ2p3S0NBancySmI3QlJCSEVpd0FYVFI0ald3UkJ6Q2ExTkVfYWZXdkpiakkyaHpMekJrcUlRbWVWUXBGU1lWZlAzSU5TSmFJaWhVUnh4b0NwUVFRQXZEX0J3RQ..*_gcl_dc*R0NMLjE2MDA1NTQzMzEuQ2p3S0NBancySmI3QlJCSEVpd0FYVFI0ald3UkJ6Q2ExTkVfYWZXdkpiakkyaHpMekJrcUlRbWVWUXBGU1lWZlAzSU5TSmFJaWhVUnh4b0NwUVFRQXZEX0J3RQ..&_ga=2.88084123.1028608983.1600813199-1759789631.1600483280&_gac=1.17884491.1600554776.CjwKCAjw2Jb7BRBHEiwAXTR4jWwRBzCa1NE_afWvJbjI2hzLzBkqIQmeVQpFSYVfP3INSJaIihURxxoCpQQQAvD_BwE">
              DESENVOLVEDORES</a>
          </li>

          <li>
            <a class="texto" href="https://spotifyforbrands.com/pt-BR/">MARCAS</a>
          </li>

          <li><a class="texto" routerLink="/">HOME</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">© 2020 Spotify AB</div>
    {{date}}
  </div>
</div>
