<div class="container">
  <div class="row">
    <h1>Lista de Musicas</h1>
  </div>
  <div class="row">
    <div class="section col s4">
      <ul class="listaMusicas">
        <li *ngFor="let lista of PlaylistDetalhes" (click)="onSelect(lista)" [class.selected]="lista===listaClicada">
          <span class="badge"><img [src]="lista.foto" alt="100" width="100">{{lista.album}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div *ngIf="listaClicada" class="details">
      <h2>Detalhes</h2>

      <table>
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th>Musica</th>

        </tr>
        <tr>
          <td>{{listaClicada.id}}</td>
        <td>{{listaClicada.nome}}</td>
        <td><audio controls [src]="listaClicada.audio" type="audio/ogg"></audio></td>

        </tr>
      </table>
    </div>
  </div>
</div>
