.container{
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  padding: 8px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  margin-top: 3%;
}