<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/anos80.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">A década de 80 foi uma das mais ricas musicalmente, com letras de um significado profundo, com baladas românticas que
          marcaram gerações, e com o crescimento de um rock político no cenário mundial. Também foi uma época próspera para as
          músicas disco e para a consolidação da carreira de grandes estrelas do pop.
          </p>
          <a href="#" class="btn btn-primary" routerLink="/detalhes">Play List</a>
        </div>
      </div>
      <div class="card" style="width: 18rem;">
        <img src="../../../assets/images/anos90.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary" routerLink="/dialog">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
