
<div class="jumbotron text-center">
  <h1>A Melhor Play List</h1>
  <p></p> 
</div>
  
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Anos 80</h3>
      <img src="../../../assets/images/anos80.jpg" class="card-img-top"  alt="100px">

      
      <a href="#" class="btn btn- btn-success" routerLink="/detalhes">Play List</a>

    </div>
    <div class="col-sm-4">
      <h3>Anos 2000</h3>
      <img src="../../../assets/images/anos2000.jpg" class="card-img-top"  alt="100px">
      <a href="#" class="btn btn- btn-success" routerLink="">Play List</a>
    </div>
    <div class="col-sm-4">
      <h3>Pop Rock</h3>        
      <img src="../../../assets/images/poprock.jpg" class="card-img-top"  alt="100px">
      <a href="#" class="btn btn- btn-success" routerLink="">Play List</a>
    </div>
  </div>
</div>