<div class="grid-cadastro">

  <img src="../../assets/images/Spotify_Logo_feature.png" width="150px" />
  <div class="form-group">
    <label>Email:</label>
    <input type="text" class="form-control" formControlName="Emai">
  </div>
  <div class="form-group">
    <label>Confirmar e-mail:</label>
    <input type="text" class="form-control" formControlName="ConfirEmail">
  </div>
  <div class="form-group">
    <label>Como Devemos Chamer Você?:</label>
    <input type="text" class="form-control" formControlName="NomeReal">
  </div>
  <div class="form-group">
    <label>Data Nascimento:</label>
    <input type="number" class="form-control" formControlName="DataNasc">
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Masculino</label>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck2">
    <label class="form-check-label" for="exampleCheck2">Feminino</label>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck3">
    <label class="form-check-label" for="exampleCheck3">Não binário</label>
  </div>
  <div class="btnCadastrar">
    <button type="submit" [disabled]="" class="btn btn-success">
      Cadastre-se</button>
  </div>

</div>

