<div class="tela">
  <div class="box-left">
    <img src="../../../assets/images/spotify-premium-wallpaper-68954-71300-hd-wallpapers.jpg" alt="" />
    <div class="box">
      <div class="form-group"></div>
      <div class="form-group"></div>
      <div class="form-group"></div>
    </div>
  </div>
  <div class="box-right">
    <div class="container">

      <h1>Escutar muda tudo</h1>
      <h2>
        Milhões de músicas e podcasts para explorar. E nem precisa de cartão de
        crédito.
      </h2>

      <button type="button" class="btn btn-success" routerLink="/cadastro">
        INCREVER-SE
      </button>
    </div>
  </div>
</div>
